@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');

@keyframes zoom {
    0% {
        transform: scale(1);
        color: transparent;
    }
    10% {
        color: white;
    }
    50% {
        transform: scale(1.1);
        color: white;
    }
    100% {
        transform: scale(0.9);
        color: white;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes grow {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes long-shadow {
    0% {
        text-shadow: none;
    }
    50% {
        text-shadow: 10px 10px 100px #C2C1C2;
    }
    100% {
        text-shadow: none;
    }
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    box-shadow: 0 0 300px 10px rgba(0, 0, 0, 0.4) inset;
    padding: 0;
    margin: 0;
}

.name {
    color: transparent;
    letter-spacing: 1.5vw;
    display: flex;
    perspective: 600px;
    animation: grow 1s ease forwards, long-shadow 1s ease-in-out infinite alternate;
}

.container {
    transform-style: preserve-3d;
}
