.bodyimage{
    margin: 0;
    background-image: url('../Assests/allmovies.jpg') ;
    background-size: cover;
  overflow: hidden;
  height: 100vh;
  filter: brightness(100%) contrast(70%);
  background-position: center;
  align-items: center;
}

.textcontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.text{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    filter: brightness(100%) contrast(100%);
}

.text1{
    font-size: 3em;
}

.text2{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button1{
    height: 2.5em;
    width: 20em;
    background-color: red;
    color: whitesmoke;
    border: none;
    font-size: larger;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 5px;
}

.button1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.netflixlogo{
position: fixed;
    left: 20px;
    width: 48px;
    top: 1%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    filter: brightness(100%) contrast(100%);
}

.netflixlogo:hover{
    transform: scale(1.2);
}