/* Common styles for all screen sizes */

.row {
    margin-left: 20px;
    color: #fff;
  }
  
  .rowposters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
  }
  
  .rowposters::-webkit-scrollbar {
    display: none;
  }
  
  .poster {
    max-height: 200px;
    margin-right: 10px;
  }
  
  .poster:hover {
    transform: scale(1.2);
    border-radius: 10px;
  }
  
  .smallposter {
    max-height: 150px;
    margin-right: 10px;
  }
  
  .smallposter:hover {
    transform: scale(1.2);
    border-radius: 10px;
  }

  .fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  }
  
  /* Responsive styles for tablets */
  @media only screen and (max-width: 768px) {
    .row {
      margin-left: 10px; /* Adjust as needed for tablets */
    }
  
    .rowposters {
      padding: 10px;
    }
  
    .poster {
      max-height: 150px;
    }
  
    .smallposter {
      max-height: 100px;
    }
  }
  
  /* Responsive styles for smartphones */
  @media only screen and (max-width: 480px) {
    .row {
      margin-left: 5px; /* Adjust as needed for smartphones */
    }
  
    .rowposters {
      padding: 5px;
    }
  
    .poster {
      max-height: 100px;
    }
  
    .smallposter {
      max-height: 75px;
    }
  }
  