
.parentplaydiv{
    background-size: cover;
    height: 448px;
    color:white;
    
}

.fadeBottam{
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent, rgba(37,37,37,.61),#111);
}